# Ignore CMake and build artifacts
# CMake cache and files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Build directories
/build/

# Common compiled objects and outputs
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe

# IDE/editor files
.vscode/
.idea/
build/*
CMakeFiles/*
3dm_to_partition

a.out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*/partition_main

.vscode
